<div class="group-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 *ngIf = "type=='create'">Create New Group</h4>
        <h4 *ngIf = "type=='update'">Update Group</h4>
        <form  [formGroup]="createGroupForm" (ngSubmit)="onCreate(createGroupForm)">
            <label>Name:
              <input type="text" formControlName="name"/>
            </label>
            <label>Description
              <input type="text" formControlName="description"/>
            </label>
            <!--Create a drop down for selecting members-->
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

