<div class="post media">
          <h3>{{ post.message }}</h3>
          <div class="media-body">            
            <h5 class="media-heading">
              <span class="username">
                <a [routerLink]="['post',post.userusername,'userlist']"><strong> {{ post.user.username }}</strong></a>
              </span>
              <time class="time">
                {{ post.created_at }}
              </time>
            </h5>
            <div class="media-footer">
                <a *ngIf="isUserAuthenticated && post.user.email == loggedInUserEmail" (click)="deletePost(post.id)" class="btn btn-large btn-simple">
                  <span class="text-danger icon-label">Delete</span>
                </a>
                <a *ngIf="isUserAuthenticated && post.user.email == loggedInUserEmail"  [routerLink]="['../','post','create',{'id':post.id,'groupId':post.group.id,'type':'update'}]"  class="btn btn-large btn-simple">
                  <span class="text-warning icon-label">Update</span>
                </a>
            </div>
          </div>
</div>
    